body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

input {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.mensagem {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 5px;
}

.section__title {
    font-size: 1.5em;
    padding: 20px;
    color: #333;
}

.section__content {
    padding: 20px;
    font-size: 1.2em;
    color: #666;
}
